matlazar_aplikacija_2_2/web/WEB-INF/wsdl/localhost_8084/matlazar_aplikacija_1/MeteoWsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.web.matlazar.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.web.matlazar.nwtis.foi.org/" name="MeteoWsService">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.web.matlazar.nwtis.foi.org/" schemaLocation="http://localhost:8084/matlazar_aplikacija_1/MeteoWsService?xsd=1"/>
</xsd:schema>
</types>
<message name="dajZadnjeMeteoPodatkeZaUredaj">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeZaUredaj"/>
</message>
<message name="dajZadnjeMeteoPodatkeZaUredajResponse">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeZaUredajResponse"/>
</message>
<message name="UnknownHostException">
<part name="fault" element="tns:UnknownHostException"/>
</message>
<message name="dajAdresuIoTUredaja">
<part name="parameters" element="tns:dajAdresuIoTUredaja"/>
</message>
<message name="dajAdresuIoTUredajaResponse">
<part name="parameters" element="tns:dajAdresuIoTUredajaResponse"/>
</message>
<message name="posljednihNPrognozaZaUredaj">
<part name="parameters" element="tns:posljednihNPrognozaZaUredaj"/>
</message>
<message name="posljednihNPrognozaZaUredajResponse">
<part name="parameters" element="tns:posljednihNPrognozaZaUredajResponse"/>
</message>
<message name="vazeciPodaciZaOdabraniIoT">
<part name="parameters" element="tns:vazeciPodaciZaOdabraniIoT"/>
</message>
<message name="vazeciPodaciZaOdabraniIoTResponse">
<part name="parameters" element="tns:vazeciPodaciZaOdabraniIoTResponse"/>
</message>
<message name="dajMeteoPodatkeUVremenskomIntervalu">
<part name="parameters" element="tns:dajMeteoPodatkeUVremenskomIntervalu"/>
</message>
<message name="dajMeteoPodatkeUVremenskomIntervaluResponse">
<part name="parameters" element="tns:dajMeteoPodatkeUVremenskomIntervaluResponse"/>
</message>
<message name="dodajUDnevnik">
<part name="parameters" element="tns:dodajUDnevnik"/>
</message>
<message name="dodajUDnevnikResponse">
<part name="parameters" element="tns:dodajUDnevnikResponse"/>
</message>
<message name="autentikacija">
<part name="parameters" element="tns:autentikacija"/>
</message>
<message name="autentikacijaResponse">
<part name="parameters" element="tns:autentikacijaResponse"/>
</message>
<portType name="MeteoWsService">
<operation name="dajZadnjeMeteoPodatkeZaUredaj">
<input wsam:Action="http://serveri.ws.web.matlazar.nwtis.foi.org/MeteoWsService/dajZadnjeMeteoPodatkeZaUredajRequest" message="tns:dajZadnjeMeteoPodatkeZaUredaj"/>
<output wsam:Action="http://serveri.ws.web.matlazar.nwtis.foi.org/MeteoWsService/dajZadnjeMeteoPodatkeZaUredajResponse" message="tns:dajZadnjeMeteoPodatkeZaUredajResponse"/>
<fault message="tns:UnknownHostException" name="UnknownHostException" wsam:Action="http://serveri.ws.web.matlazar.nwtis.foi.org/MeteoWsService/dajZadnjeMeteoPodatkeZaUredaj/Fault/UnknownHostException"/>
</operation>
<operation name="dajAdresuIoTUredaja">
<input wsam:Action="http://serveri.ws.web.matlazar.nwtis.foi.org/MeteoWsService/dajAdresuIoTUredajaRequest" message="tns:dajAdresuIoTUredaja"/>
<output wsam:Action="http://serveri.ws.web.matlazar.nwtis.foi.org/MeteoWsService/dajAdresuIoTUredajaResponse" message="tns:dajAdresuIoTUredajaResponse"/>
<fault message="tns:UnknownHostException" name="UnknownHostException" wsam:Action="http://serveri.ws.web.matlazar.nwtis.foi.org/MeteoWsService/dajAdresuIoTUredaja/Fault/UnknownHostException"/>
</operation>
<operation name="posljednihNPrognozaZaUredaj">
<input wsam:Action="http://serveri.ws.web.matlazar.nwtis.foi.org/MeteoWsService/posljednihNPrognozaZaUredajRequest" message="tns:posljednihNPrognozaZaUredaj"/>
<output wsam:Action="http://serveri.ws.web.matlazar.nwtis.foi.org/MeteoWsService/posljednihNPrognozaZaUredajResponse" message="tns:posljednihNPrognozaZaUredajResponse"/>
<fault message="tns:UnknownHostException" name="UnknownHostException" wsam:Action="http://serveri.ws.web.matlazar.nwtis.foi.org/MeteoWsService/posljednihNPrognozaZaUredaj/Fault/UnknownHostException"/>
</operation>
<operation name="vazeciPodaciZaOdabraniIoT">
<input wsam:Action="http://serveri.ws.web.matlazar.nwtis.foi.org/MeteoWsService/vazeciPodaciZaOdabraniIoTRequest" message="tns:vazeciPodaciZaOdabraniIoT"/>
<output wsam:Action="http://serveri.ws.web.matlazar.nwtis.foi.org/MeteoWsService/vazeciPodaciZaOdabraniIoTResponse" message="tns:vazeciPodaciZaOdabraniIoTResponse"/>
<fault message="tns:UnknownHostException" name="UnknownHostException" wsam:Action="http://serveri.ws.web.matlazar.nwtis.foi.org/MeteoWsService/vazeciPodaciZaOdabraniIoT/Fault/UnknownHostException"/>
</operation>
<operation name="dajMeteoPodatkeUVremenskomIntervalu">
<input wsam:Action="http://serveri.ws.web.matlazar.nwtis.foi.org/MeteoWsService/dajMeteoPodatkeUVremenskomIntervaluRequest" message="tns:dajMeteoPodatkeUVremenskomIntervalu"/>
<output wsam:Action="http://serveri.ws.web.matlazar.nwtis.foi.org/MeteoWsService/dajMeteoPodatkeUVremenskomIntervaluResponse" message="tns:dajMeteoPodatkeUVremenskomIntervaluResponse"/>
<fault message="tns:UnknownHostException" name="UnknownHostException" wsam:Action="http://serveri.ws.web.matlazar.nwtis.foi.org/MeteoWsService/dajMeteoPodatkeUVremenskomIntervalu/Fault/UnknownHostException"/>
</operation>
<operation name="dodajUDnevnik">
<input wsam:Action="http://serveri.ws.web.matlazar.nwtis.foi.org/MeteoWsService/dodajUDnevnikRequest" message="tns:dodajUDnevnik"/>
<output wsam:Action="http://serveri.ws.web.matlazar.nwtis.foi.org/MeteoWsService/dodajUDnevnikResponse" message="tns:dodajUDnevnikResponse"/>
</operation>
<operation name="autentikacija">
<input wsam:Action="http://serveri.ws.web.matlazar.nwtis.foi.org/MeteoWsService/autentikacijaRequest" message="tns:autentikacija"/>
<output wsam:Action="http://serveri.ws.web.matlazar.nwtis.foi.org/MeteoWsService/autentikacijaResponse" message="tns:autentikacijaResponse"/>
</operation>
</portType>
<binding name="MeteoWsServicePortBinding" type="tns:MeteoWsService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajZadnjeMeteoPodatkeZaUredaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownHostException">
<soap:fault name="UnknownHostException" use="literal"/>
</fault>
</operation>
<operation name="dajAdresuIoTUredaja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownHostException">
<soap:fault name="UnknownHostException" use="literal"/>
</fault>
</operation>
<operation name="posljednihNPrognozaZaUredaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownHostException">
<soap:fault name="UnknownHostException" use="literal"/>
</fault>
</operation>
<operation name="vazeciPodaciZaOdabraniIoT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownHostException">
<soap:fault name="UnknownHostException" use="literal"/>
</fault>
</operation>
<operation name="dajMeteoPodatkeUVremenskomIntervalu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownHostException">
<soap:fault name="UnknownHostException" use="literal"/>
</fault>
</operation>
<operation name="dodajUDnevnik">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="autentikacija">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MeteoWsService">
<port name="MeteoWsServicePort" binding="tns:MeteoWsServicePortBinding">
<soap:address location="http://localhost:8084/matlazar_aplikacija_1/MeteoWsService"/>
</port>
</service>
</definitions>