matlazar_aplikacija_2_2/web/WEB-INF/wsdl/localhost_8084/matlazar_aplikacija_1/MeteoWsService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><xs:schema xmlns:tns="http://serveri.ws.web.matlazar.nwtis.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serveri.ws.web.matlazar.nwtis.foi.org/">

<xs:element name="UnknownHostException" type="tns:UnknownHostException"/>

<xs:element name="autentikacija" type="tns:autentikacija"/>

<xs:element name="autentikacijaResponse" type="tns:autentikacijaResponse"/>

<xs:element name="dajAdresuIoTUredaja" type="tns:dajAdresuIoTUredaja"/>

<xs:element name="dajAdresuIoTUredajaResponse" type="tns:dajAdresuIoTUredajaResponse"/>

<xs:element name="dajMeteoPodatkeUVremenskomIntervalu" type="tns:dajMeteoPodatkeUVremenskomIntervalu"/>

<xs:element name="dajMeteoPodatkeUVremenskomIntervaluResponse" type="tns:dajMeteoPodatkeUVremenskomIntervaluResponse"/>

<xs:element name="dajZadnjeMeteoPodatkeZaUredaj" type="tns:dajZadnjeMeteoPodatkeZaUredaj"/>

<xs:element name="dajZadnjeMeteoPodatkeZaUredajResponse" type="tns:dajZadnjeMeteoPodatkeZaUredajResponse"/>

<xs:element name="dodajUDnevnik" type="tns:dodajUDnevnik"/>

<xs:element name="dodajUDnevnikResponse" type="tns:dodajUDnevnikResponse"/>

<xs:element name="posljednihNPrognozaZaUredaj" type="tns:posljednihNPrognozaZaUredaj"/>

<xs:element name="posljednihNPrognozaZaUredajResponse" type="tns:posljednihNPrognozaZaUredajResponse"/>

<xs:element name="vazeciPodaciZaOdabraniIoT" type="tns:vazeciPodaciZaOdabraniIoT"/>

<xs:element name="vazeciPodaciZaOdabraniIoTResponse" type="tns:vazeciPodaciZaOdabraniIoTResponse"/>

<xs:complexType name="vazeciPodaciZaOdabraniIoT">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="korime" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vazeciPodaciZaOdabraniIoTResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meteoPodaci">
<xs:sequence>
<xs:element name="cloudsName" type="xs:string" minOccurs="0"/>
<xs:element name="cloudsValue" type="xs:int"/>
<xs:element name="humidityUnit" type="xs:string" minOccurs="0"/>
<xs:element name="humidityValue" type="xs:float" minOccurs="0"/>
<xs:element name="lastUpdate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="precipitationMode" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationUnit" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationValue" type="xs:float" minOccurs="0"/>
<xs:element name="pressureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="pressureValue" type="xs:float" minOccurs="0"/>
<xs:element name="sunRise" type="xs:dateTime" minOccurs="0"/>
<xs:element name="sunSet" type="xs:dateTime" minOccurs="0"/>
<xs:element name="temperatureMax" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureMin" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="temperatureValue" type="xs:float" minOccurs="0"/>
<xs:element name="visibility" type="xs:string" minOccurs="0"/>
<xs:element name="weatherIcon" type="xs:string" minOccurs="0"/>
<xs:element name="weatherNumber" type="xs:int"/>
<xs:element name="weatherValue" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionCode" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionName" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionValue" type="xs:float" minOccurs="0"/>
<xs:element name="windSpeedName" type="xs:string" minOccurs="0"/>
<xs:element name="windSpeedValue" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UnknownHostException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajUDnevnik">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:int"/>
<xs:element name="arg4" type="xs:int"/>
<xs:element name="arg5" type="tns:baza" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="baza">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="dodajUDnevnikResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAdresuIoTUredaja">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="korime" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAdresuIoTUredajaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="posljednihNPrognozaZaUredaj">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="brPrognoza" type="xs:string" minOccurs="0"/>
<xs:element name="korime" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="posljednihNPrognozaZaUredajResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajZadnjeMeteoPodatkeZaUredaj">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="korime" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajZadnjeMeteoPodatkeZaUredajResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajMeteoPodatkeUVremenskomIntervalu">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="korime" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="datum_od" type="xs:string" minOccurs="0"/>
<xs:element name="datum_do" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajMeteoPodatkeUVremenskomIntervaluResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autentikacija">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="tns:baza" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autentikacijaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>